# CMake
*.cmake
!cmake/Modules/*
CMakeCache.txt
CMakeFiles
CMakeUserPresets.json
CMakeDoxyfile.in
compile_commands.json
detect_cuda*
Makefile
build
_deps
install
installed
hash
version

# Editor cache
*.swp
DartConfiguration.tcl
.cache
.vscode
*.log
.env
.clangd
.DS_Store

# Python
__pycache__
*.pyi
neml2.egg-info

# Tests
Testing
*.pt
!**/gold/*.pt
.pytest_cache

# Objects and libraries
*.a
.libs
*.la
*.so*
*.lo
*.lo.d
*.dylib

# Miscellaneous
*.pdf
*.gv
*.json
